body, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: rgb(27, 27, 27); 
  background-size: cover;
  background-position: center;
}

header {
  background-color: rgba(0, 0, 0, 0.945); 
  color: #fff;
  padding: 20px 0;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
}

.hero {
  text-align: center;
  padding: 50px 0;
  background-image: url(./Fundo.png); 
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.latest-news {
  margin-top: 40px;
}

.latest-news article {
  margin-bottom: 20px;
}

.latest-news img {
  width: 100%;
  height: auto;
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.5); 
  color: #fff;
}
